<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <img alt="Logo" src='/assets/logo.png' width="200px" />
      <h4 style="width:90%;text-align: center;"><strong>Cálculo de la potencia de climatización y calefacción</strong></h4>
    </ion-toolbar>
  </ion-header>
  <br />
  <br />
  <div style="text-align:center;">
    <img alt="Usuario" src='/assets/usuario.png' />
  </div>
  <br />
  
  <h4 style="text-align: center;">Inicio de sesión</h4>
  <ion-card style="width: 90%;margin:auto; max-width: 500px;">
    
    <ion-list>
      <ion-item>
        <ion-input type="email" [(ngModel)]="email" label="E-mail"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" [(ngModel)]="password" label="Contraseña"></ion-input>
      </ion-item>
    </ion-list>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <ion-label style="padding-left: 2%;">Recuérdame</ion-label>
          <ion-checkbox [(ngModel)]="rememberPassword" style="padding-left: 2%;"></ion-checkbox>
        </ion-col>
        <ion-col size="6">
          <label  style="display: block; text-align: right;margin-top: 6px;">¿Olvidaste tu contraseña? </label>
        </ion-col>
      </ion-row>
     </ion-grid><br/>
    <ion-button expand="block" (click)="login(email, password)" style="padding-left: 2%;padding-right: 2%;">Iniciar sesión</ion-button>
    <p style="text-align: center;">¿No tienes cuenta? Crea una nueva</p>
      
      
    
   
  </ion-card>
</ion-content>
